<!doctype html>
<html>
  <head>
    <title>Welcome Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
   <body>
     <main>
        <div >
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Azure Logo" width="192" height="192"/>
            <h1 class="display-6 fw-bold text-primary">Welcome to Comm Portal</h1>            
          </div>
     </main>      
   </body>
</html>